body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    padding: 20px;
    background-color: #111;
}

header h1 {
    font-size: 2.5em;
    margin: 0;
}

header p {
    font-size: 1.2em;
    margin: 10px 0 20px;
}

nav {
    margin: 20px 0;
}

nav a {
    margin: 0 15px;
    padding: 10px 20px;
    background-color: #000000;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #ffffff;
    color: black;
}
#projects {
    padding: 50px 20px;
    text-align: center;
}

#projects h2 {
    font-size: 2.5em;
    margin-bottom: 40px;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.project img {
    max-width: 100%;
    border-radius: 10px;
}

.project-details {
    max-width: 600px;
    margin-top: 20px;
    text-align: left;
}

.project-details h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.project-details p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 10px;
}

.play-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #222;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.play-button:hover {
    background-color: #555;
}

footer {
    padding: 20px;
    background-color: #111;
}

footer img {
    width: 30%;
    max-width: 200px;
    margin: 10px;
    border-radius: 10px;
}

img {
    width: 30%;
    max-width: 200px;
    border-radius: 10px;
}